# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Unreal crash/debug files
*.log
*.pdb

# Temporary files
*.tmp
*.temp